@model List<WebThucPham.Models.SanPham>
@{
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";

}
<style>
    .dong_MauNau{
        background: #d1d1d1
    }
</style>
<h2>List Product</h2>

<div class="col-md-12">
    <form>
        <input placeholder="Năm sản xuất" type="number" name="namsx" value="@(ViewBag.namsx!=null ?ViewBag.namsx:"")" />
        <input placeholder="Đơn giá" type="number" name="donGiaLonHon" />
        <input placeholder="Đơn giá" type="number" name="donGiaNhoHon" />
        <input placeholder="Tên sản phẩm" type="text" name="tenSanPham" />
        <button>Tìm kiếm</button>
        <button type="button" onclick="SapXeptang()">Giá tăng</button>
        <button type="button">Giá giảm</button>
        <a href="/Admin/SanPham/ThemMoi" class="btn btn-sm btn-success">Thêm mới</a>

    </form>
</div>
<hr />
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align:center">ID</th>
                <th style="text-align:center">Tên SP</th>
                <th style="text-align:center">Giá bán</th>
                <th style="text-align:center">NSX</th>
                <th style="text-align:center">Mô tả</th>
                <th style="text-align:center;width:114px">Thời gian tạo</th>
                <th style="text-align:center;width:80px">Phân loại</th>
                <th style="text-align:center;width:80px">Màu sắc</th>
                <th style="text-align:center;width:100px">Hết hàng</th>
                <th style="text-align:center;width:90px">Email NCC</th>
                <th style="text-align:center">ĐT NCC</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(m => m.ID))
            {

                <tr data-id="@item.ID" >
                    <td style="text-align:center">@item.ID</td>
                    <td style="text-align:left">
                        <a href="~/Admin/SanPham/ChiTiet?id=@item.ID">
                            @item.TenSanPham
                        </a>
                   </td>
                    <td style="text-align:right">@((item.DonGia ?? 0).ToString("#,0"))</td>
                    <td style="text-align:center">@item.NamSanXuat</td>
                    <td style="text-align:left">@item.MoTa</td>
                    <td style="text-align:left">@item.ThoiGianTao</td>
                    <td style="text-align:left">@item.PhanLoai</td>
                    <td style="text-align:left">
                        <span style="background:  @item.MauSac">  @item.MauSac</span>
                    </td>
                    <td style="text-align:left">@item.HetHang</td>
                    <td style="text-align:left">
                        <img src="@item.EmailNCC" style="width:50px;height:50px" />

                    </td>
                    <td style="text-align:left">@item.SoDienThoaiNCC</td>
                    <td style="text-align:left;width:160px">
                        <a class="btn btn-info" href="/Admin/SanPham/CapNhat?id=@item.ID">Update</a>
                        <span> | </span>
                        <a href="javascript:void(0)" class="btn btn-danger" onclick="Delete(@item.ID)">Xoá</a>
                        <span> | </span>
                        <a class="btn btn-secondary" href="/Admin/SanPham/CapNhatAnh?id=@item.ID">Cập nhật  ảnh</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section script{


    <script>

        $('tr').each(function (thuTu,item) {
            //This moi row
            if (thuTu % 2 == 1) {
                $(this).addClass("dong_MauNau");
            }
            else {
                $(this).removeClass("dong_MauNua");
            }

        })
        function Delete(id) {
            if (confirm("Xoá dữ liệu?") == true) {
                //Thực hiện xoá
                location.href = "/Admin/SanPham/Xoa?id=" + id;
            }
            else {
                //Không xoá
            }
        }


    </script>

}