@model WebThucPham.Models.DonHang

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
    int i = 0;
}


<div class="col-md-4">
    <h2 style="width:370px">Đơn hàng: @Model.ID - @Model.NguoiNhan </h2>

    <table class="table">
        <tr>
            <th>Khách hàng</th>
            <td>
                @{
                    var khachHang = new WebThucPham.Models.mapKhachHang().ChiTiet(Model.idKhachHang ?? 0);
                    if (khachHang != null)
                    {
                        <span>@khachHang.TenKhachHang</span>
                    }
                }
            </td>
        </tr>
        <tr>
            <th>Người nhận</th>
            <td>
                @Model.NguoiNhan
            </td>
        </tr>

    </table>
    <a href="~/Admin/DonHang/CapNhat?idDonHang=@Model.ID" class="btn btn-success">Cập nhật</a>
</div>
<div class="col-md-8">
<h2>Sản phẩm đặt mua</h2>
    <table width="100%" class="table table-bordered">
        <thead>
            <tr>
                <th>TT</th>
                <th>Tên</th>
                <th>ĐVT</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>VAT</th>
                <th>Thành tiền (Gồm VAT)</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var sanPham = new WebThucPham.Models.mapChiTietDonHang().DanhSach(Model.ID);
            }
            @{
                foreach (var item in sanPham)
                {
                    var ttChuaVat = item.SoLuong * item.DonGia;
                    var ttVat = ttChuaVat + ttChuaVat * item.MucThueVAT / 100;
                    var formatVat = string.Format("{0:#,0}", ttVat);




                    var donGia = string.Format("{0:#,0}", item.DonGia);

                    <tr>
                        <td>@(++i)</td>
                        <td>@item.TenSanPham</td>
                        <td>@item.DonViTinh</td>
                        <td>@item.SoLuong</td>
                        <td style="text-align:right">@donGia</td>
                        <td>@(item.MucThueVAT * 100)%</td>
                        <td style="text-align:right">
                            @formatVat
                        </td>
                        <td>
                            <a href="javascript:void(0)"class="btn btn-success">Sửa</a>
                            <span>|</span>
                            <a href="javascript:void(0)"  id="btnXoa"  class="btn btn-danger">Xoá</a>
                        </td>
                    </tr>
                }
            }
        </tbody>

            <tfoot>
                <tr>
                    <td colspan="6">Tổng</td>
                    <td style="font-weight:bold;text-align:right">
                        @string.Format("{0:#,0}",sanPham.Sum(m=>(m.SoLuong * m.DonGia) + (m.DonGia) * m.MucThueVAT /100))
                    </td>
                </tr>
            </tfoot>
    </table>
    <p id="btn-box">
        <a  class="btn btn-primary" href="~/Admin/DonHang/ThemChiTiet?idDonHang=@Model.ID"  data-iddonhang="@Model.ID">Thêm sản phẩm</a>
    </p>
</div>